/* Body und Webseitenlayout */
body {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

/* Churshine Logo */
.Churshine {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 805px;
  height: auto;
  display: block;
  z-index: 1;
}

/* Text über über und unter dem Emoji */
.text {
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
}

/* Emoji und UV-Index Box Anzeige */
#emoji {
    margin: 15px auto;
    height: auto;
    width: 290px;
    display: block;
    position: relative;
    object-fit: contain;
    transition: transform 0.3s ease-out;
    z-index: 2;
}
  
.uvDisplay {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.uvInner {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uvBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50px, -50%);
  background-color: #1275BB;
  padding: 10px 20px 15px 20px;
  border-radius: 50px;
  width: 140px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
  text-align: center;
  box-shadow:
    inset 10px 0 6px -2px rgba(0, 0, 0, 0.2),      /* seitlicher Schatten */
    inset 0 -10px 12px -5px rgba(0, 0, 0, 0.4);    /* unterer Schatten */
  z-index: 1;
  border: 8px solid #000000;
}

.uvBox span#uvValue {
  font-size: 10.5rem;
  font-weight: bold;
  color: #ffee55;
  line-height: 1;
}

.uvBox span#uvTime {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b0d4f1;
  margin-top: 5px;
}

.uvDisplay:hover #emoji {
  transform: translateX(-150px); /* genau wie Box nach rechts */
}

.uvDisplay:hover .uvBox {
  opacity: 1;
  pointer-events: auto;
}

#uvLabel {
  font-size: 1.2rem;
  color: #ffee55;
  margin-top: 0px;
}

#uvOrt {
  font-size: 1rem;
  color: #b0d4f1;
  margin-top: 0px;
}

/*Schieberegler für die Stundenanzeige */
#uvSlider {
  -webkit-appearance: none;
  width: 805px;
  height: 65px;
  border: 8px solid black;
  border-radius: 100px;
  position: relative;
  margin: 1rem 0;
  box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.4);
  background-image: 
    url('images/sun.png'),
    url('images/moon.png'),
    linear-gradient(to right, #1275BB 0%, #1275BB 0%);
  background-repeat: no-repeat;
  background-position: 
  15px center,              /* Sonne */
  calc(100% - 15px) center, /* Mond weiter nach rechts */
  left center;
}
/* Schiebeknopffunktion für verschiedene Browser*/
  #uvSlider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 40px;
      height: 140px;
      border-radius: 50px;
      background: #77B9E4;
      border: 8px solid black;
      cursor: pointer;
      margin-top: 0px;
      box-shadow:inset 10px 0 6px -2px rgba(0, 0, 0, 0.2);
  }
    
  #uvSlider::-moz-range-thumb {
      width: 40px;
      height: 140px;
      border-radius: 50px;
      background: #77B9E4;
      border: 8px solid black;
      cursor: pointer;
      box-shadow:inset 10px 0 6px -2px rgba(0, 0, 0, 0.2);
  }

/* Responsive Design */
/* Tablet */
@media (max-width: 1024px) {
  #emoji {
    width: 200px;
  }

  .uvBox {
    width: 110px;
    height: 180px;
    border-radius: 40px;
  }

  .uvBox span#uvValue {
    font-size: 7rem;
  }

  #uvSlider {
    width: 90vw;
    height: 60px;
  }

  .Churshine {
    width: 90vw;
    height: auto;
  }

  .text {
    font-size: 24px;
  }
}

/* Smartphone */
@media (max-width: 600px) {
  #emoji {
    width: 150px;
  }

  .uvBox {
    width: 60px;
    height: 120px;
    border-radius: 30px;
    transform: translate(30px, -50%);
  }

  .uvBox span#uvValue {
    font-size: 4rem;
  }

  .uvBox span#uvTime,
  #uvLabel, #uvOrt {
    font-size: 0.7rem;
  }

 .Churshine {
  width: 90vw;
  height: auto;
}

  .text {
    font-size: 20px;
  }

  #uvSlider {
  width: 85vw;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 2px 0px 2px 0px;
}

  #uvSlider::-webkit-slider-thumb {
    width: 30px;
    height: 100px;
  }
  
  #uvSlider::-moz-range-thumb {
    width: 30px;
    height: 100px;
    border-radius: 50px;
    background: #77B9E4;
    border: 8px solid black;
    cursor: pointer;
    box-shadow:inset 10px 0 6px -2px rgba(0, 0, 0, 0.2);
  }

  .uvDisplay:hover #emoji {
    transform: translateX(-100px); /* kleinerer Shift für kleinere Screens */
  }
}
